.header{
    display: block;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #2D2D2D;
    height: 127px;
    padding: 30px 50px;
    
}

.header__title{
    color: #FFFFFF;  
}

.header__search{
    position: relative;
    padding: 0 0 0 20px;
    width: 800px;
    height: 45px;
    background-color: #434343;
}

.header__search-wrap{
    display: flex;
    align-items: center;
    background-color: #434343;
    padding-right: 7px;
}


.header__wrapper-btns{
    display: flex;
}

.btn--profile{
    display: flex;
    align-items: center;
}

.header__ico{
    color: #ffff;
    border-radius: 50%;
    margin-left: 30px;
    font-size: 24px;
}

.header__search-ico{
    color: #999A95;
    font-size: 23px;
}

.header__price{
    color: #ffff;
    margin-left: 30px;
}
.footer{
    display: flex;
    background-color: #2D2D2D;
    padding: 30px 90px 30px 30px;
    color: #ffff;
    justify-content: space-between;
    
}


.footer__left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.phone-wrapper{
    font-size: 19px;
    font-weight: bold;
}

.phone-number--border{
    border-right: 3px solid #FFFFFF ;
    padding-right: 10px;
}

.footer__oplata{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer__center{
    margin-right: 30px;
}

.footer__item{
    margin:  0 10px;
    font-size: 20px;
}

.footer__svg{
    display: flex;
    width: 39px;
    align-items: center;
}

.dark-mode { 
    background-color: #000; 
    color: #fff; 
  } 
  
  .dark-mode header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #2D2D2D;
    height: 127px;
    padding: 30px 50px;
  } 
  
  .dark-mode footer { 
      display: flex;
      background-color: #2D2D2D;
      padding: 30px 90px 30px 30px;
      color: #ffff;
      justify-content: space-between;
    }
    
   
  
  .dark-mode header * { 
  color: #ffffff }

  .main{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;

}


.main__title{
    text-align: center;
}


.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 9px;
  border: 7px solid black; 
  padding: 5px;
}

.card__img-wrapper {
  overflow: hidden;
}

.card__img {
  max-width: 259px;
   max-height: 310px;
    min-height: 310px
}

.dark-mode .card{
    border: 7px solid white; 
  }


.card__wrapper {
    display: flex;
    align-items: baseline;
    max-width: 259px;
  }

  .card__disc {
    margin-right: 8px;
    min-width: 70px; /* Для выравнивания ширины элементов */
  }


.card__price {
  margin-top: 6px;
  font-size: 15px;
  font-weight: bold;
}

.add-to-cart-btn{
        background:linear-gradient(90deg,#e20909,#fff);
        padding: 8px 12px;
        border-radius: 7px;
}


.dark-mode .add-to-cart-btn{
    background:linear-gradient(90deg,#e20909,#000000);
}

.form{
    margin-top: 10px;
    text-align: center;
}