.wrapper{
    display: flex;
    flex-direction: column;

}

.header{
    display: block;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #2D2D2D;
    height: 127px;
    padding: 30px 50px;
    
}

.header__title{
    color: #FFFFFF;  
}

.header__search{
    position: relative;
    padding: 0 0 0 20px;
    width: 800px;
    height: 45px;
    background-color: #434343;
}

.header__search-wrap{
    display: flex;
    align-items: center;
    background-color: #434343;
    padding-right: 7px;
}


.header__wrapper-btns{
    display: flex;
}

.btn--profile{
    display: flex;
    align-items: center;
}

.header__ico{
    color: #ffff;
    border-radius: 50%;
    margin-left: 30px;
    font-size: 24px;
}

.header__search-ico{
    color: #999A95;
    font-size: 23px;
}

.header__price{
    color: #ffff;
    margin-left: 30px;
}

.main{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapter-title{
    text-align: center;
}

.chapter-text{
    text-align: center;
}

.photos{
    display: flex;
    flex-direction: column;
}

.photo__pol-wrapper{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px ;
}

.photo__pol{
    max-width: 690px;
    height:662px;
}

.photo__style-wrapper{
    display: flex;
    justify-content: space-between;
}

.photo__style{
    max-width: 331px;
    height: 491px;
}


.photo__style--left{
    margin-right: 16px;
}

.photo__style--right{
    margin-left: 16px;
}

.photo__style--center{
    margin-left: 16px;
    margin-right: 16px;
}

.photo__pol--right{
    margin-left: 16px;
}

.photo__pol--left{
    margin-right: 16px;
}

.chapter-text{
    font-weight: lighter;
}

.cards{
    display: flex;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__img-wrapper{
    width: 259px;
}

.brands{
    display: flex;
}

.chapter-title{
    margin-top: 70px;
}

.chapter-text{
    margin-bottom: 20px;
}


.card__title{
    margin-top: 10px;
    font-size: 20px;
}

.card__price{
    margin-top: 6px;
    font-weight: bolder;
}
